@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes jiggle {
  0% {
    transform: translateX(5px);
  }
  20% {
    transform: translateX(-5px);
  }
  40% {
    transform: translateX(5px);
  }
  60% {
    transform: translateX(-5px);
  }
  80% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(0px);
  }
}

@keyframes show {
  0% {
    opacity: 0;
    transform: translateX(-20px);
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.dialog {
  animation: show 150ms ease-in, jiggle 200ms ease-in-out 100ms;
}
